<div class="box">
    <form class="form">
        <div class="sub-form">
            <label>
                Nome
            </label>
            <input class="input" ng-model="nome" placeholder="{{cliente.nome}}" ng-keyup="format()" type="text"></input>
            <label class="alerta" ng-if="campoIncorreto(nome,10)">
                Nome Invalido
            </label>
        </div>
        <div class="sub-form">
            <label>Endereço:</label>
            <div class="titulo">
                <div class="sub">
                    <label>
                        Bairro
                    </label>
                    <input class="input" ng-model="bairro" placeholder="{{cliente.endereco.bairro}}" ng-keyup="format()" type="text"></input>
                    <label class="alerta" ng-if="campoIncorreto(bairro,5)">
                        Bairro Invalido
                    </label>
                </div>
                <div class="sub">
                    <label>
                        Cidade
                    </label>
                    <input class="input" ng-model="cidade" placeholder="{{cliente.endereco.cidade}}" ng-keyup="format()" type="text"></input>
                    <label class="alerta" ng-if="campoIncorreto(cidade,5)">
                        Cidade Invalida
                    </label>
                </div>
            </div>
        </div>
        <div class="sub-form">
            <label>
                Contato:
            </label>
            <div class="titulo">
                <div class="sub">
                    <label>
                        Email
                    </label>
                    <input class="input" ng-model="email" placeholder="{{cliente.email}}" type="text"></input>
                    <label class="alerta" ng-if="validarEmail()">
                        Email Invalido
                    </label>
                </div>
                <div class="sub">
                    <label>
                        Telefone
                    </label>
                    <input class="input" ng-model="telefone" placeholder="{{cliente.telefone}}" ng-keyup="format()" type="text"></input>
                    <label class="alerta" ng-if="campoIncorreto(telefone,13)">
                        Telefone Invalido
                    </label>
                </div>
            </div>
            <div class="sub">
                
            </div>
        </div>
        <button class="entrar" ng-click="enviar()">
            Atualizar
        </button>
        <button class="entrar" ng-click="pedidos()">
            Ver Pedidos
        </button>
        <button class="excluir" ng-click="excluir(cliente.id)">
            Excluir
        </button>
        <button class="excluir"  ng-click="voltar()">
            Voltar
        </button>
    </form>
</div>
