
.itens{
    width: 50%;
    background-color: rgb(183, 218, 250);
}
.estado{
    width: 20%;
    background-color: rgb(183, 218, 250);
}
.data{
    width: 30%;
    background-color: rgb(183, 218, 250);
}


.concluido{
    background-color: rgb(64, 72, 66);
}