<div>
    <div ng-show="tabela()">
        <div class="sub-form">
            <label>
                Pesquisar
            </label>
            <input class="input tinner" ng-model="nome"  type="text"  ng-keyup="filtrar(nome)"></input>
            <button class="novo" ng-click="novoUsuario()">
                Novo
            </button>
        </div>
        <div class="tabela">
            <div class="usuario">
                <label class="item top selected" ng-click="orderBy('nome')">Usuario</label>
                <a href="" ng-mouseover="hoverIn(usuario.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(usuario.id)" ng-class="style(usuario.id)"  ng-mouseUp="analizar(usuario)" ng-repeat="usuario in usuariosFiltrados | orderBy : campo : direcao ">
                    {{usuario.nome}}
                </a>
            </div>
            <div class="nomeNormal">
                <label class="item top selected" ng-click="orderBy('nomeNormal')">Nome</label>
                <a href="" ng-mouseover="hoverIn(usuario.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(usuario.id)" ng-class="style(usuario.id)"  ng-mouseUp="analizar(usuario)" ng-repeat="usuario in usuariosFiltrados | orderBy : campo : direcao ">
                    {{usuario.nomeNormal}}
                </a>
            </div>
            <div class="cargo">
                <label class="item top selected" ng-click="orderBy('cargo')">Cargo</label>
                <a href=""  ng-mouseover="hoverIn(usuario.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(usuario.id)" ng-class="style(usuario.id)"   ng-repeat="usuario in usuariosFiltrados | orderBy : campo : direcao " >
                    <b class = "bold-remove" ng-repeat="perfil in usuario.perfil" ng-mouseUp="analizar(usuario)">
                        {{perfil}}
                    </b>
                </a>
            </div>
        </div> 
    </div>
    <div class="box" ng-show="analizando">
        <form class="form">
            <div class="sub-form">
                <label>
                    Nome: {{usuario.nome}}
                </label>
            </div>
            <div class="sub-form">
                <label>
                    Cargos:
                </label>
                <div class="check" >
                    <input class="checkBox"  type="checkbox" value="cargo" ng-click="attAdm()">
                        ADMINISTRADOR
                    </input>
                </div>
                <div class="check" ng-show="!adm" ng-repeat="cargo in cargos" ng-click="adicionarCargo(cargo)">
                    <input class="checkBox"  type="checkbox" value="cargo">
                        {{cargo}}
                    </input>
                </div>
            </div>
            <button class="entrar" ng-click="att()">
                Atualizar
            </button>
            <button class="excluir" ng-click="excluir()">
                Excluir
            </button>
            <button class="excluir" ng-click="voltar()">
                Voltar
            </button>
        </form>
    </div>
    <div class="box" ng-show="adicionando">
        <form class="form">
            <div class="sub-form">
                <label>
                    Nome: 
                </label>
                <input class="input" ng-model="user.nome"  type="text"></input>
            </div>
            <button class="entrar" ng-click="adicionarUsuario(user)">
                Adicionar
            </button>
            <button class="excluir" ng-click="adicionando=false">
                Voltar
            </button>
        </form>
    </div>
</div>