.check{
    display: flex;
    flex-direction: row;
    justify-content:left;
    margin-top: 20px;
}
.checkBox{
    align-self: flex-start;
}
.novo{
    margin-bottom:1px;
    margin-top: 5px;
    display: block;
    width: 20%;
    background-color: rgb(183, 218, 250);
    border: 2px solid rgb(45, 64, 95);
    border-radius: 3px;
}
.novo:hover{
    background-color: rgb(116, 160, 201);
}
.novo:active{
    background-color: rgb(79, 110, 138);
}
.usuario{
    width: 75%;
    background-color: rgb(183, 218, 250);
}
.cargo{
    width: 25%;
    background-color: rgb(183, 218, 250);
}
.link{
    color: black;
    background-color: red;
    font-size: 85%;
    display: block;
    text-decoration: none;
}
.tinner{
    width: 20%;
}
.bold-remove{
    font-weight: normal;
}