<div>
    <div class="sub-form">
        <label>
            Pesquisar
        </label>
        <input class="input" ng-model="nome"  type="text"  ng-keyup="filtrar(nome)"></input>
    </div>
    <div class="tabela">
        <div class="nome">
            <label class="item top selected" ng-click="orderByNome()">
                Nome
            </label>
            <a href=""  ng-mouseover="hoverIn(cliente.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(cliente.id)" ng-class="style(cliente.id)" ng-mouseUp="analizar(cliente.id)" ng-repeat="cliente in clientesFiltrados | orderBy : 'nome': direcao ">
                {{cliente.nome}}
            </a>
        </div>
        <div class="cpf">
            <label class="item top">
                CPF
            </label>
            <a href="" ng-mouseover="hoverIn(cliente.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(cliente.id)" ng-repeat="cliente in clientesFiltrados | orderBy : 'nome': direcao " ng-class="style(cliente.id)" ng-mouseUp="analizar(cliente.id)">
                {{cliente.cpf | cpf}}
            </a>
        </div>
        <div class="rg">
            <label class="item top">
                RG
            </label>
            <a href="" ng-mouseover="hoverIn(cliente.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(cliente.id)" ng-repeat="cliente in clientesFiltrados | orderBy : 'nome': direcao " ng-class="style(cliente.id)" ng-mouseUp="analizar(cliente.id)">
                {{cliente.rg | rg}}
            </a>
        </div>
    </div>
</div>
