.nome{
    width: 75%;
    background-color: rgb(183, 218, 250);
}
.documento{
    width: 25%;
    background-color: rgb(183, 218, 250);
}
.item-titulo{
    background-color: rgb(162, 184, 206);
    display: block;
    width: 100%;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    color: black;
    font-size: 150%;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}