<div>
    <div class="sub-form">
        <label>
            Pesquisar
        </label>
        <input class="input" ng-model="nome"  type="text"  ng-keyup="filtrar(nome)"></input>
    </div>
    <div class="tabela">
        <div class="nome">
            <label class="item top">
                Nome
            </label>
            <a href=""  ng-mouseover="hoverIn(cliente.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(cliente.id)" ng-class="style(cliente.id)" ng-mouseUp="analizar(cliente.id)" ng-repeat="cliente in clientesFiltrados">
                {{cliente.nome}}
            </a>
        </div>
        <div class="documento">
            <label class="item top">
                Documento
            </label>
            <a href="" ng-mouseover="hoverIn(cliente.id)" ng-mouseleave="hoverOut()" ng-mouseDown="mouseDown(cliente.id)" ng-repeat="cliente in clientesFiltrados" ng-class="style(cliente.id)" ng-mouseUp="analizar(cliente.id)">
                {{cliente.cpf | cpf}}
            </a>
        </div>
    </div>
</div>
