


<div class="options">
    <button class="option" ng-if="acessoRestrito()" ng-click="novoPedido()">Novo Pedido</button>
    <button class="option" ng-click="tabelaPedido()">Tabela de Pedidos</button>
    <button class="option" ng-if="acessoRestrito()" ng-click="novoCliente()">Novo Cliente</button>
    <button class="option" ng-if="acessoRestrito()" ng-click="tabelaCliente()">Tabela de Clientes</button>
    <button class="option" ng-if="adm()" ng-click="configurarUser()">Configuração de Usuarios</button>
</div>
