<div ng-controller="menuCtrl">
	<div class="toolbar" ng-show="home()">
			<label class="title">
				{{pagina}}
			</label>
			<div class="user">
				<a href="" ng-click="perfil()" title="Aperte para editar o seu perfil de usuario" class="username">
					{{usuario()}} 
				</a>
				<label title="{{descricao}}">
					{{cargo}}
				</label>
			</div>
			<label for="icone">
				<img style="border-radius: 50px;" title="Aperte para mudar a imagem de icone" class="icon" src="{{imagem()}}"></img>
			</label>
			<div  class="menu-sair">
				<a href="" ng-click="menu()" title="Voltar ao menu principal" class="menu">
					Menu
				</a>
				<a href="" ng-click="deslogar()" title="Sair do apliicativo" class="menu sair">
					Sair
				</a>
			</div>
	</div>
	<input data-file-upload="true" id="icone" ng-model="img" ng-show="false" type="file"></input>
</div>