<div class="toolbar" ng-controller="menuCtrl">
    <label class="title">Manutenção de Equipamentos</label>
    <div class="user">
        <a href="" ng-click="perfil()", class="username">{{user.nome}} </a>
        <label title="{{descricao}}">{{cargo}}</label>
    </div>
    <img class="icon" src="res/logo.png"></img>
    <a href="" ng-click="deslogar()" class="sair">Sair</a>
</div>


<div class="options">
    <button class="option" ng-if="acessoRestrito()" ng-click="novoPedido()">Novo Pedido</button>
    <button class="option" ng-click="tabelaPedido()">Tabela de Pedidos</button>
    <button class="option" ng-if="acessoRestrito()" ng-click="novoCliente()">Novo Cliente</button>
    <button class="option" ng-if="acessoRestrito()" ng-click="tabelaCliente()">Tabela de Clientes</button>
</div>
