<div>
    <img class="logo" src ="res/logo.png"></img>
    <div class="login">
        <form>
            <div class="label">
                <label>
                    Usuario
                </label>
                <label>
                    Senha
                </label>
            </div>
            <div class="input">
                <input ng-model="creds.nome" type="text"></input>
                <input ng-model="creds.senha" type="password"></input>
            </div>
        </form>
        <button class="entrar" ng-click="login(creds)">Entrar</button>
    </div>
</div>
    