.alerta{
  color:red
}

.search-input {
  position: relative;
  display: inline-block;
}
.lista {
  display: block;
  position: absolute;
  background-color: rgb(237, 247, 250);
  overflow: auto;
  width: 100%;
  border: 1px solid rgb(194, 204, 208);
  z-index: 1;
}
.lista  a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.search-input a:hover { 
  background-color: rgb(194, 204, 208);
}
